; The address and port on which the server listens for connections
listen_address = 0.0.0.0
listen_port = 4015

; The database info
database_type = QMYSQL
database_hostname = localhost
database_port = 3306
database_name = witgap
database_username = witgap
database_password = xxx
database_connect_options =
