; The URL of the client
client_url = http://localhost

; The address and port on which the server listens for connections
listen_address = 0.0.0.0
listen_port = 4015

; The address and port on which the server listens for peer connections
peer_listen_address = 0.0.0.0
peer_listen_port = 4025

; The secret passphrase used to ensure peer validity
peer_secret = xxx

; The address and port on which the server listens for HTTP connections
http_listen_address = 0.0.0.0
http_listen_port = 8080

; The location of our self-signed SSL certificate
certificate = /export/witgap/etc/cert.pem

; The location of the private RSA key
private_key = /export/witgap/etc/private_key.pem

; The database info
database_type = QMYSQL
database_hostname = localhost
database_port = 3306
database_name = witgap
database_username = witgap
database_password = xxx
database_connect_options = MYSQL_OPT_RECONNECT=1

; The address to which bug reports are sent
bug_report_address = drzej.k@gmail.com

; Mail info
mail_hostname = localhost
mail_port = 25
mail_from = noreply@witgap.com

; The number of threads to create for scenes, or -1 for max(1, number of cores - 1)
scene_threads = -1

; The directory in which translation files are stored
translation_directory = /export/witgap/etc

; The space-delimited supported translation locales.  Always put en first, and country-specific
; locales after their corresponding languages (e.g., "fr" before "fr_CA")
translation_locales = en

; The file containing the Markov chain probabilities used to generate random names
name_chain = /export/witgap/etc/name_chain.dat

; The file containing the list of patterns that cannot be used in names
blocked_names = /export/witgap/etc/blocked_names.txt

; The file containing the GeoIP database
geoip_db = /export/witgap/etc/GeoLiteCity.dat
